* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav {
    max-width: 900px;
    margin: auto;
    background-color: brown;
    font-size: 20px;
    margin-top: 50px;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical {
    display: none;
    list-style: none;
    position: absolute;
    background-color: brown;
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

.slider {
    display: flex;
    max-width: 500px;
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider section {
    display: flex; /* Add this line to make the images flex children */
}

.slider img {
    flex: 0 0 auto; /* Add this line to make the images non-flexible */
    width: 100%;
    height: 100%; /* Add this line to ensure the images maintain their aspect ratio */
    object-fit: cover;
    scroll-snap-align: center;
}