
.letraEspecial {

    font: 110% sans-serif;
    color: aliceblue;

}

.letraEspecialsolo{

    font: 200% sans-serif;
    color: aliceblue;
}

.letraEspecialN{
    font: 100% sans-serif;
    color: #191919;
}

.logo {
    height: 160px;
    width: 340px;
}

.black {
    background: linear-gradient(to bottom right,#191919, #303030);
}


.lista {
    
    
    margin-left: 40px;
    margin-right: 50px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 8px;
    position: relative;
    width: 150px;
    text-align: center;
}

.idioma{
    margin-bottom: 40px;
    padding-left: 2px;
    padding-right: 1px;
    position:relative;
    text-align: center;

}

.TamImagenCarousel{

    width: 300px;
    height: 580px;
    opacity: 85%;
}

.tamañoImagen{

    width: 350px;
    height: 350px;
    border-radius: 4%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 140px;
    opacity: 95%;
}