.black {
    background: linear-gradient(to bottom right,#191919, #303030);
}

.letraEspecial {

    font: 100% sans-serif;
    color: aliceblue;

}

.letraEspecialN{
    font: 100% sans-serif;
    color: #191919;
}

.logo {
    height: 160px;
    width: 340px;
}
.lista {
    margin-left: 40px;
    margin-right: 50px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 8px;
    position: relative;
    width: 150px;
    text-align: center;
}

.idioma{
    margin-bottom: 40px;
    padding-left: 2px;
    padding-right: 1px;
    position:relative;
    text-align: center;

}
body{
    
    background: radial-gradient(#DFE1E0, #5B5D5C);

}
.suscribete {
    font-size: 32px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    position: absolute;
    top: 20%;
    left: 5%;
}
.suscribeteencuevagaming{
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 30%;
    left: 8%;
}

.primeralinea {
    background-color: black;
    height: 2px;
    border: none;
    width: 85%;
    margin-top: 77px;
    margin-left: 200px;
    opacity: 100%;
}
.imagensub{
    position: absolute;
    top: 28%;
    left: 8%;
    margin-left: 470px;
    width: 5%;
}
.email{
    position: absolute;
    -webkit-text-stroke: 1px black;
    color: black;
    top: 37%;
    left: 8%;
    font-size: 24px;
}

.textoemail{
    position: absolute;
    top: 43%;
    left: 10%;
    margin-left: -30px;
    width: 250px;
    height: 30px;
}
.usuario{
    position: absolute;
    -webkit-text-stroke: 1px black;
    color: black;
    top: 47%;
    left: 8%;
    font-size: 24px;
}
.textousuario{
    position: absolute;
    top: 53%;
    left: 10%;
    margin-left: -30px;
    width: 250px;
    height: 30px;
}
.contraseña{
    position: absolute;
    -webkit-text-stroke: 1px black;
    color: black;
    top: 57%;
    left: 8%;
    font-size: 24px;
}
.textocontraseña{
    position: absolute;
    top: 63%;
    left: 10%;
    margin-left: -30px;
    width: 250px;
    height: 30px;
}
.boton{
    position: absolute;
    top: 70%;
    left: 10%;
    margin-left: 120px;
    width: 100px;
    height: 30px;
}
.sobrenosotros{
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 32%;
    left: 65%;
}
.creadopor{
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 37%;
    left: 58%;
}
.segundalinea{
    background-color: black;
    height: 2px;
    border: none;
    width: 100%;
    margin-top: 550px;
    margin-left: 0px;
    opacity: 100%;
}
.flecha{
    position: absolute;
    top: 43%;
    left: 69.5%;
}
.parrafo{
    position: absolute;
    top: 58%;
    left: 56%;
    width: 35%;
    color: black;

}
.terceralinea{
    background-color: black;;
    height: 2px;
    border: none;
    width: 100%;
    margin-top: 190px;
    margin-left: 0px;
    opacity: 100%;
}
.contacte{
    position: absolute;
    top: 97%;
    left: 10.5%;
    margin-left: -30px;
    width: 250px;
    height: 30px;
    font-size: 24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.soporte{
    position: absolute;
    top: 104%;
    left: 10.5%;
    margin-left: -30px;
}
.correo{
    position: absolute;
    top: 104%;
    left: 10.5%;
    margin-left: 60px;
    font-size: 20px;
}
.numero{
    position: absolute;
    top: 109%;
    left: 10.5%;
    margin-left: 60px;
    font-size: 20px;
}
.redessociales{
    position: absolute;
    top: 97%;
    left: 10.5%;
    margin-left: 810px;
    width: 250px;
    height: 30px;
    font-size: 24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.instagram{
    position: absolute;
    top: 105%;
    left: 10.5%;
    margin-left: 740px;
}
.twitter{
    position: absolute;
    top: 105%;
    left: 10.5%;
    margin-left: 850px;
}
.tiktok{
    position: absolute;
    top: 105%;
    left: 10.5%;
    margin-left: 960px;
}