
.letraEspecial {

    font: 100% sans-serif;
    color: aliceblue;

}

.letraEspecialN{
    font: 100% sans-serif;
    color: #191919;
}

.logo {
    height: 115px;
    width: 250px;
}

.black {
    background: linear-gradient(to bottom right,#191919, #303030);
}


.lista {
    
    display: inline-block;
    margin-left: 30px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 8px;
    position: relative;
    width: 150px;
    text-align: center;
}