  /* Establece la altura específica en pantallas grandes */
  .navbar {
    height: 110px; /* Ajusta la altura según tus necesidades */
  }

  /* Ajusta la altura en pantallas más pequeñas utilizando una media query */
  @media (max-width: 576px) {
    .navbar {
      height: 340px; /* Cambia la altura para pantallas más pequeñas (móvil) */
    }
  }

.black {
    background: linear-gradient(to bottom right,#191919, #303030);
}

.letraEspecial {

    font: 111% sans-serif;
    color: black;
    

}

.quitaHyper{
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.letraEspecialN{
    font: 111% sans-serif;
    color: black;
}

.logo {
    height: 160px;
    width: 340px;
}
.lista {
    margin-left: 40px;
    margin-right: 50px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 8px;
    position: relative;
    width: 150px;
    text-align: center;
}

.idioma{
    margin-bottom: 40px;
    padding-left: 2px;
    padding-right: 1px;
    position:relative;
    text-align: center;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    
    background: -webkit-linear-gradient(rgb(38, 37, 38), rgb(37, 37, 37));

    margin-bottom: 300px;
}
.suscribete {
    font-size: 55px;
    font-family: 'Noto Serif', serif;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 19.3%;
    left: 5%;
}

  
  h2{
    padding:40px;
    font-weight:lighter;
    text-transform:uppercase;
    color:#414141;
  }
  
  .wrapper, .wrapper h1, .wrapper .input-box, .input-box input, .input-box input::placeholder, .input-box i, .wrapper .remember-forgot, .remember-forgot label input, .remember-forgot a, .remember-forgot a:hover, .wrapper .btn, .wrapper .register-link, .register-link p a, .register-link p a:hover{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .wrapper{
    margin-top: -470px;
    margin-left: 158px;
    width: 350px;
    height: 470px;
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 5px;
    padding: 30px 40px;
  }
  .wrapper h1{
    font-size: 33px;
    text-align: center;
    font-family: 'Noto Serif', serif;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

  }
  .input-box input{ 
    margin-left: 8px;
    width: 95%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    font-size: 14px;
    color: wheat;
    padding: 20px 45px 20px 20px;
    position: absolute;
  }
  .input-box input:hover{ 
    border-color: #6b6b6b;
    color: wheat;
  }
  .input-box input:active{ 
    border-color: #838282;
    color: wheat;
  }
  .input-box input:focus{ 
    border-color: #000000;
    color: wheat;    
  }
  .input-box input::placeholder{
    border-color: #fff;
    color: wheat;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 13px;
    
  }
  .wrapper .remember-forgot{
    width: 90%;
    font-size: 13px;
    margin: -10px 15px 15px;
  }
  .remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
  }

  .wrapper .btn {
    width: 30%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 13px;
    color: #333;
    font-weight: 600;
    position: absolute;
  }
  .wrapper .btn:hover {
    background: #e0e0e0;
    color: #333;
  }
  .wrapper .btn:active{
    background: #cac6c6;
    color: #333;
  }
  .wrapper .register-link{
    font-size: 12px;
    text-align: center;
    margin: 20px 0 15px;
  }
  .register-link p a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }

.nombreusuario{
    margin-top: 10px;
    margin-left: 225px;
}
.correologo{
    margin-top: -140px;
    margin-left: 225px;
}
.candado{
    margin-top: 90px;
    margin-left: 225px;
}


.primeralinea {
    height: 6px;
    border-radius: 5px;
    width: 66%;
    margin-top: 79px;
    margin-left: 390px;
    opacity: 100%;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));


}



.imagensub{
    position: absolute;
    top: 28%;
    left: 8%;
    margin-left: 470px;
    width: 5%;
}


@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 60vh;
    --card-width: calc(var(--card-height) / 1.3);
  }

.card1 {
    margin-top: 80px;
    margin-left: 158px;
    background: linear-gradient(to bottom, #464646, #111111);

  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: cursive;
}
.card1::before {
    content: "";
    width: 104%;
    height: 103%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), rgb(211, 171, 70), rgb(231, 230, 223) 43%, rgb(211, 171, 70));
    position: absolute;
    z-index: -1;
    top: -1.3%;
    left: -2%;
    animation: spin 2.5s linear infinite;
  }
  
  .card1::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), rgb(211, 171, 70), rgb(231, 230, 223) 43%, rgb(211, 171, 70));
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  .card2 {
    --card-height: 48vh;
    --card-width: calc(var(--card-height) / 0.84);
  }

.card2 {
    margin-top: -420px;
    margin-left: 715px;
    background: linear-gradient(to bottom, #383838, #161616);

  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: cursive;
}
.card2:before {
    content: "";
    width: 103%;
    height: 103%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), rgb(211, 171, 70), rgb(231, 230, 223) 43%, rgb(211, 171, 70));
    position: absolute;
    z-index: -1;
    top: -1.3%;
    left: -1.5%;
    animation: spin 2.5s linear infinite;
  }
  
  .card2:after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), rgb(211, 171, 70), rgb(231, 230, 223) 43%, rgb(211, 171, 70));
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
.boton{
    position: absolute;
    top: 78%;
    left: 32%;
    margin-left: -30px;
    width: 140px;
    height: 45px;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #202020;
    color: #FFFF7F;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton:hover{
    background-color: rgb(22, 22, 22);
    transform: scale(1.01);
}
.boton:active{
    background-color: rgb(29, 28, 28);
}

.sobrenosotros{
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(rgb(255, 220, 132), rgb(233, 232, 228));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 130%;
    left: 33%;
    transition: 0.5s;
}
.flechamaxim{
    position: absolute;
    top: 164%;
    left: 34%;
}
.especialidad2{
    position: absolute;
    top: 172%;
    left: 24.8%;
    color: white;
    font-size: 20px;
}

.nombremaxim{
    position: absolute;
    font-weight: bold;
    top: 161%;
    left: 21%;
    width: 20%;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.flechaalejandro{
    position: absolute;
    top: 143.5%;
    left: 34%;
}
.especialidad{
    position: absolute;
    top: 151%;
    left: 19.9%;
    color: white;
    font-size: 20px;
}
.nombrealejandro{
    position: absolute;
    font-weight: bold;
    top: 140%;
    left: 16.4%;
    width: 20%;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.flechaismail{
    position: absolute;
    top: 184%;
    left: 34%;
}
.especialidad3{
    position: absolute;
    top: 192%;
    left: 22.7%;
    color: white;
    font-size: 20px;
}
.nombreismail{
    position: absolute;
    font-weight: bold;
    top: 181%;
    left: 20.8%;
    width: 20%;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.segundalinea{
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    height: 6px;
    border-radius: 5px;
    width: 82.5%;
    top: 210%;
    margin-left: 70px;
    opacity: 100%;
    position: absolute;
}
.flecha{
    position: absolute;
    top: 145%;
    left: 44.2%;
    cursor: pointer;
    transition: 0.6s;
}



.contacte{
    position: absolute;
    top: 215%;
    left: 10.5%;
    margin-left: 200px;
    width: 350px;
    height: 30px;
    font-size: 27px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.soporte{
    position: absolute;
    top: 221%;
    left: 10.5%;
    margin-left: 200px;
}
.correo{
    position: absolute;
    top: 222%;
    left: 10.5%;
    margin-left: 280px;
    font-size: 18px;
    color: white;
}
.numero{
    position: absolute;
    top: 227%;
    left: 10.5%;
    margin-left: 280px;
    font-size: 18px;
    color: white;
}
.redessociales{
    position: absolute;
    top: 215%;
    left: 13.5%;
    margin-left: 698px;
    width: 300px;
    height: 30px;
    font-size: 27px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.instagram{
    position: absolute;
    top: 222%;
    left: 15.5%;
    margin-left: 630px;
}
.instagram:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.twitter:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.tiktok:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.twitter{
    position: absolute;
    top: 222.5%;
    left: 13.6%;
    margin-left: 750px;
}
.tiktok{
    position: absolute;
    top: 222.3%;
    left: 11.3%;
    margin-left: 870px;
}
.ventajas{
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    position: absolute;
    color: rgb(102, 253, 97);
    top: 45%;
    left: 56.5%;
    font-size: 27px;
    animation: increaseFontSize 1.4s linear infinite;
}
@keyframes increaseFontSize {
    0% {
        font-size: 26px; /* Tamaño de fuente inicial */
    }
    50% {
        font-size: 27px; /* Tamaño de fuente en la mitad de la animación */
    }
    100% {
        font-size: 26px; /* Tamaño de fuente al final de la animación (vuelve al tamaño original) */
    }
}
.imgVentajas{
    position: absolute;
    top: 44.3%;
    left: 81.5%;
}
.banderas{
    width: 100%;
    display: none;
}
.participantes{
    display: none;
}
.chile{
    position: absolute;
    top: 145.9%;
    left: 16.5%;
}
.rusia{
    position: absolute;
    top: 167%;
    left: 21%;
}
.marruecos{
    position: absolute;
    top: 186.9%;
    left: 21%;
}
.parrafo2 {
    font-size: 22px;
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
    position: absolute;
    color: white;
    top: 52.5%;
    left: 57%;
    width: 28%;
    opacity: 0;
    animation: fadeInDelay 2s forwards;
}

.parrafo3 {
    font-size: 22px;
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
    position: absolute;
    color: white;
    top: 59.5%;
    left: 57%;
    width: 28%;
    opacity: 0;
    animation: fadeInDelay 3s forwards;
}

.parrafo4 {
    font-size: 22px;
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
    position: absolute;
    color: white;
    top: 66.5%;
    left: 57%;
    width: 28%;
    opacity: 0;
    animation: fadeInDelay 4s forwards;
}

.parrafo5 {
    font-size: 22px;
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
    position: absolute;
    color: white;
    top: 73.5%;
    left: 57%;
    width: 28%;
    opacity: 0;
    animation: fadeInDelay 5s forwards;
}

.parrafo6 {
    font-size: 22px;
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
    position: absolute;
    color: white;
    top: 80.5%;
    left: 57%;
    width: 28%;
    opacity: 0;
    animation: fadeInDelay 6s forwards;
}


@keyframes fadeInDelay {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.tick{
    margin-top: -290px;
    margin-left: 970px;
    opacity: 0;
    animation: fadeInDelay 2s forwards;
    position: absolute;
}
.tick2{
    margin-top: -235px;
    margin-left: 1065px;
    opacity: 0;
    animation: fadeInDelay 3s forwards;
    position: absolute;
}
.tick3{
    margin-top: -180px;
    margin-left: 1045px;
    opacity: 0;
    animation: fadeInDelay 4s forwards;
    position: absolute;
}
.tick4{
    margin-top: -125px;
    margin-left: 1075px;
    opacity: 0;
    animation: fadeInDelay 5s forwards;
    position: absolute;
}
.tick5{
    margin-top: -70px;
    margin-left: 1113px;
    opacity: 0;
    animation: fadeInDelay 6s forwards;
    position: absolute;
}
.lineavertical {
    top: 28%;
    height: 69%;
    left: 47.5%;
    position: absolute;
    width: 8px; /* Ancho de la línea vertical */
    background-image: -webkit-linear-gradient(rgb(211, 171, 70), rgb(231, 230, 223)); /* Aplicar gradiente como fondo */
    border-radius: 50%;
    border: 1.5px solid black;
}

.no-pointerevents .form-3 p:nth-child(1):before {
    display: none;
}

.collapse{
    width: 20%;
}
#probando {
    margin-top: 410px;
    margin-left: 535px;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.05s ease, opacity 0.6s ease, transform 0.6s ease;
    transform: translateY(300px);
    opacity: 0;
    width: 40%;
}
#probando.show {
    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 768px) {
    /* Estilos específicos para pantallas más pequeñas */
    .suscribete {
      font-size: 35px;
      margin-top: -25px;
      margin-left: -10px;
    }

    .ventajas{
        margin-left: 90px;
        font-size: 25px;
    }
    .imgVentajas{
        margin-left: 230px;
    }
    .parrafo2{
        font-size: 23px;
        width: 70%;
        margin-left: 110px;
    }
    .parrafo3{
        font-size: 23px;
        width: 70%;
        margin-left: 110px;
    }
    .parrafo4{
        font-size: 23px;
        width: 70%;
        margin-left: 110px;
    }
    .parrafo5{
        font-size: 23px;
        width: 70%;
        margin-left: 110px;
    }
    .parrafo6{
        font-size: 23px;
        width: 60%;
        margin-left: 110px;
    }
    .segundalinea{
        width: 97%;
        margin-top: 500px;
    }
    .contacte{
        margin-top: 500px;
        margin-left: 20px;
        font-size: 25px;
    }
    .soporte{
        margin-top: 500px;
        margin-left: 20px
    }
    .numero{
        margin-top: 490px;
        margin-left: 100px;
 
    }
    .correo{
        margin-top: 490px;
        margin-left: 100px;
  
    }
    .redessociales{
        font-size: 25px;
        margin-left: 420px;
        margin-top: 500px;
        font-size: 25px;
    }
    .instagram{
        margin-top: 490px;
        margin-left: 370px;
        height: 60px;
        width: 60px;
    }
    .twitter{
        margin-top: 490px;
        margin-left: 460px;
        height: 60px;
        width: 60px;
    
    }
    .tiktok{
        margin-top: 50px;
        margin-left: 100px;
        height: 60px;
        width: 60px;
        margin-top: 490px;
        margin-left: 550px;
    }
    .sobrenosotros{
        margin-top: 500px;
        margin-left: -275px;
        font-size: 35px;
    }
    .flecha{
        margin-top: 500px;
        margin-left: -235px;
    }
    .chile{
        margin-top: 550px;
        margin-left: -320px;
        width: 40px;
        height: 40px;
    }
    .rusia{
        margin-top: 520px;
        margin-left: -320px;
        width: 40px;
        height: 40px;
    }
    .marruecos{
        margin-top: 490px;
        margin-left: -320px;
        width: 40px;
        height: 40px;
    }
    #probando {
        margin-top: 790px;
        margin-left: 220px;
        width: 40%;
    }
    .primeralinea{
        margin-top: 145px;
        margin-left: 250px;
        width: 65%;
    }
}

@media (max-width: 390px) {
    /* Estilos específicos para pantallas más pequeñas */
    .suscribete {
      font-size: 25px;
      margin-top: 190px;
      margin-left: 20px;
    }
    .primeralinea{
        width: 40%;
        margin-left: 210px;
        margin-top: 30px;
    }
    .card1{
        margin-left: 20px;
        margin-top: -10px;
        width: 330px;
        height: 400px;
    }
    .wrapper{
        width: 85%;
        margin-top: -400px;
        height: 10;
    }
    .wrapper h1{
        font-size: 25px;
    }
    .card2{
        margin-left: 18px;
        --card-height: 48vh;
        margin-top: 150px;
        width: 330px;
    }
    .parrafo2{
        font-size: 17px;
    }
    .parrafo3{
        font-size: 17px;
    }
    .parrafo4{
        font-size: 17px;
    }
    .parrafo5{
        font-size: 17px;
    }
    .parrafo6{
        font-size: 17px;
    }
    .wrapper{
        margin-left: 30px;
    }
    .nombreusuario{
        margin-left: 195px;
    }
    .candado{
        margin-left: 195px;
    }
    .correologo{
        margin-left: 195px;
    }
    .lineavertical{
        display: none;
    }
    .boton{
        margin-left: 20px;
        margin-top: 150px;
    }
    .ventajas{
        margin-top: 655px;
        margin-left: -90px;
        width: 50%;
    }
    .imgVentajas{
        margin-top: 665px;
        margin-left: -270px;
        width: 65px;
        height: 65px;
    }
    .parrafo2{
        margin-top: 700px;
        margin-left: -155px;
    }
    .parrafo3{
        margin-top: 685px;
        margin-left: -155px;
    }
    .parrafo4{
        margin-top: 670px;
        margin-left: -155px;
    }
    .parrafo5{
        margin-top: 655px;
        margin-left: -155px;
    }
    .parrafo6{
        margin-top: 640px;
        margin-left: -155px;
    }
    .tick{
        margin-top: -265px;
        margin-left: 205px;
        width: 40px;
        height: 40px;
    }
    .tick2{
        margin-top: -265px;
        margin-left: 295px;
        width: 40px;
        height: 40px;
    }
    .tick3{
        margin-top: -265px;
        margin-left: -150px;
        width: 40px;
        height: 40px;
    }
    .tick4{
        margin-top: -265px;
        margin-left: -150px;
        width: 40px;
        height: 40px;
    }
    .tick5{
        margin-top: -265px;
        margin-left: -300px;
        width: 40px;
        height: 40px;
    }
    .sobrenosotros{
        margin-top: 1230px;
        margin-left: -195px;
    }
    .flecha{
        margin-top: 1230px;
        margin-left: -130px;
    }
    .segundalinea{
            margin-top: 1300px;
            margin-left: 0px;
            width: 93.5%;
    }
    .contacte{
        margin-top: 1280px;
        font-size: 16px;
        margin-left: 0px;
    }
    .redessociales{
        margin-top: 1280px;
        margin-left: 220px;
        font-size: 16px;
    }
    .instagram{
        margin-top: 1250px;
        margin-left: 200px;
        width: 35px;
        height: 35px;
    }
    .twitter{
        margin-top: 1250px;
        margin-left: 250px;
        width: 35px;
        height: 35px;
    }
    .tiktok{
        margin-top: 1250px;
        margin-left: 300px;
        width: 35px;
        height: 35px;
    }
    .soporte{
        margin-top: 1270px;
        margin-left: -10px;
        width: 40px;
        height: 40px;
    }
    .correo{
        margin-top: 1265px;
        margin-left: 40px;
        font-size: 13px;
    }
    .numero{
        margin-top: 1248px;
        margin-left: 40px;
        font-size: 13px;
    }
    .chile{
        margin-top: 1260px;
        margin-left: -210px;
        width: 50px;
        height: 50px;
    }
    .rusia{
        margin-top: 1280px;
        margin-left: -210px;
        width: 50px;
        height: 50px;
    }
    .marruecos{
        margin-top: 1290px;
        margin-left: -210px;
        width: 50px;
        height: 50px;
    }
    #probando {
        margin-top: 1275px;
        margin-left: 100px;
        width: 60%;
        font-size: 16px;
    }
}