  /* Establece la altura específica en pantallas grandes */
  .navbar {
    height: 130px; /* Ajusta la altura según tus necesidades */
  }

  /* Ajusta la altura en pantallas más pequeñas utilizando una media query */
  @media (max-width: 576px) {
    .navbar {
      height: 340px; /* Cambia la altura para pantallas más pequeñas (móvil) */
    }
  }

.black {
    background: linear-gradient(to bottom right,#191919, #303030);
}

.letraEspecial {

    font: 111% sans-serif;
    color: black;
    

}
.quitaHyper{
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.letraEspecialN{
    font: 111% sans-serif;
    color: black;
}

.logo {
    height: 160px;
    width: 340px;
}
.lista {
    margin-left: 40px;
    margin-right: 50px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 8px;
    position: relative;
    width: 150px;
    text-align: center;
}

.idioma{
    margin-bottom: 40px;
    padding-left: 2px;
    padding-right: 1px;
    position:relative;
    text-align: center;
    background: -webkit-linear-gradient(rgb(211, 171, 70),rgb(231, 230, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    
    background:#ffff7f;
    margin-bottom: 300px;
}
.suscribete {
    font-size: 40px;
    font-family: 'Noto Serif', serif;
    color: black;
    position: absolute;
    top: 27%;
    left: 4%;
}

.primeralinea {
    background-color: black;
    height: 4px;
    border-radius: 5px;
    width: 70%;
    margin-top: 110px;
    margin-left: 290px;
    opacity: 100%;
}
.imagensub{
    position: absolute;
    top: 28%;
    left: 8%;
    margin-left: 470px;
    width: 5%;
}
.email{
    position: absolute;
    color: black;
    font-weight: bold;
    top: 38%;
    left: 10%;
    font-size: 23px;
}

.textoemail{
    position: absolute;
    top: 44%;
    left: 12%;
    margin-left: -30px;
    width: 240px;
    height: 32px;
}
.usuario{
    position: absolute;
    color: black;
    font-weight: bold;
    top: 51%;
    left: 10%;
    font-size: 23px;
}
.textousuario{
    position: absolute;
    top: 57%;
    left: 12%;
    margin-left: -30px;
    width: 240px;
    height: 32px;
}
.contraseña{
    position: absolute;
    color: black;
    font-weight: bold;
    top: 64%;
    left: 10%;
    font-size: 23px;
}
.textocontraseña{
    position: absolute;
    top: 70%;
    left: 12%;
    margin-left: -30px;
    width: 240px;
    height: 32px;
}
.boton{
    position: absolute;
    top: 78%;
    left: 12%;
    margin-left: -30px;
    width: 140px;
    height: 45px;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #202020;
    color: #FFFF7F;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton:hover{
    background-color: rgb(22, 22, 22);
    transform: scale(1.01);
}
.boton:active{
    background-color: rgb(29, 28, 28);
}
.sobrenosotros{
    font-size: 37px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    position: absolute;
    top: 50%;
    left: 68.1%;
    transition: 0.5s;
}
.segundalinea{
    background-color: black;
    height: 4px;
    border-radius: 5px;
    width: 79.1%;
    top: 90%;
    margin-left: 77px;
    opacity: 100%;
    position: absolute;
}
.flecha{
    position: absolute;
    top: 59%;
    left: 75%;
    cursor: pointer;
    transition: 0.6s;
}



.contacte{
    position: absolute;
    top: 94%;
    left: 10.5%;
    margin-left: 200px;
    width: 350px;
    height: 30px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.soporte{
    position: absolute;
    top: 102%;
    left: 10.5%;
    margin-left: 200px;
}
.correo{
    position: absolute;
    top: 102%;
    left: 10.5%;
    margin-left: 290px;
    font-size: 20px;
}
.numero{
    position: absolute;
    top: 107%;
    left: 10.5%;
    margin-left: 290px;
    font-size: 20px;
}
.redessociales{
    position: absolute;
    top: 94%;
    left: 9.5%;
    margin-left: 698px;
    width: 300px;
    height: 30px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.instagram{
    position: absolute;
    top: 102%;
    left: 12%;
    margin-left: 630px;
}
.instagram:hover {
    transform: scale(1.1);
}
.twitter:hover {
    transform: scale(1.1);
}
.tiktok:hover {
    transform: scale(1.1);
}
.twitter{
    position: absolute;
    top: 102%;
    left: 10.5%;
    margin-left: 750px;
}
.tiktok{
    position: absolute;
    top: 102%;
    left: 9%;
    margin-left: 870px;
}
.ventajas{
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    position: absolute;
    color: rgb(17, 54, 16);
    top: 37%;
    left: 32%;
    font-size: 27px;
}
.imgVentajas{
    position: absolute;
    top: 36%;
    left: 57.5%;
}
.banderas{
    width: 100%;
    display: none;
}
.chile{
    position: absolute;
    top: 52%;
    left: 63.5%;
}
.rusia{
    position: absolute;
    top: 65%;
    left: 63.5%;
}
.marruecos{
    position: absolute;
    top: 78%;
    left: 63.5%;
}
.parrafo2{
    font-size: 23px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    position: absolute;
    color: black;
    top: 44%;
    left: 32%;
    width: 28%;
}
.parrafo3{
    font-size: 23px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    position: absolute;
    color: black;
    top: 51%;
    left: 32%;
    width: 28%;
}
.parrafo4{
    font-size: 23px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    position: absolute;
    color: black;
    top: 58%;
    left: 32%;
    width: 28%;
}
.parrafo5{
    font-size: 23px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    position: absolute;
    color: black;
    top: 65%;
    left: 32%;
    width: 28%;
}
.parrafo6{
    font-size: 23px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    position: absolute;
    color: black;
    top: 72%;
    left: 32%;
    width: 28%;
}
.collapse{
    width: 20%;
}
#probando {
    margin-top: 150px;
    margin-left: 910px;
    font-size: 17px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.05s ease, opacity 0.6s ease, transform 0.6s ease;
    transform: translateY(200px);
    opacity: 0;
    width: 23%;
}
#probando.show {
    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 768px) {
    /* Estilos específicos para pantallas más pequeñas */
    .suscribete {
      font-size: 35px;
      margin-top: -25px;
      margin-left: -10px;
    }
    .email{
        margin-left: -15px;
    }
    .contraseña{
        margin-left: -15px;
    }
    .usuario{
        margin-left: -15px;
    }
    .ventajas{
        margin-left: 90px;
        font-size: 25px;
    }
    .imgVentajas{
        margin-left: 230px;
    }
    .parrafo2{
        font-size: 23px;
        width: 70%;
        margin-left: 110px;
    }
    .parrafo3{
        font-size: 23px;
        width: 70%;
        margin-left: 110px;
    }
    .parrafo4{
        font-size: 23px;
        width: 70%;
        margin-left: 110px;
    }
    .parrafo5{
        font-size: 23px;
        width: 70%;
        margin-left: 110px;
    }
    .parrafo6{
        font-size: 23px;
        width: 60%;
        margin-left: 110px;
    }
    .segundalinea{
        width: 97%;
        margin-top: 500px;
    }
    .contacte{
        margin-top: 500px;
        margin-left: 20px;
        font-size: 25px;
    }
    .soporte{
        margin-top: 500px;
        margin-left: 20px
    }
    .numero{
        margin-top: 490px;
        margin-left: 100px;
 
    }
    .correo{
        margin-top: 490px;
        margin-left: 100px;
  
    }
    .redessociales{
        font-size: 25px;
        margin-left: 420px;
        margin-top: 500px;
        font-size: 25px;
    }
    .instagram{
        margin-top: 490px;
        margin-left: 370px;
        height: 60px;
        width: 60px;
    }
    .twitter{
        margin-top: 490px;
        margin-left: 460px;
        height: 60px;
        width: 60px;
    
    }
    .tiktok{
        margin-top: 50px;
        margin-left: 100px;
        height: 60px;
        width: 60px;
        margin-top: 490px;
        margin-left: 550px;
    }
    .sobrenosotros{
        margin-top: 500px;
        margin-left: -275px;
        font-size: 35px;
    }
    .flecha{
        margin-top: 500px;
        margin-left: -235px;
    }
    .chile{
        margin-top: 520px;
        margin-left: -350px;
        width: 40px;
        height: 40px;
    }
    .rusia{
        margin-top: 510px;
        margin-left: -350px;
        width: 40px;
        height: 40px;
    }
    .marruecos{
        margin-top: 490px;
        margin-left: -350px;
        width: 40px;
        height: 40px;
    }
    #probando {
        margin-top: 790px;
        margin-left: 220px;
        width: 50%;
    }
    .primeralinea{
        margin-top: 145px;
        margin-left: 250px;
        width: 65%;
    }
}

@media (max-width: 390px) {
    /* Estilos específicos para pantallas más pequeñas */
    .suscribete {
      font-size: 30px;
      margin-top: 150px;
      margin-left: -10px;
    }
    .primeralinea{
        width: 45%;
        margin-left: 200px;
        margin-top: 60px;
    }
    .email{
        margin-left: 20px;
        margin-top: 150px;
    }
    .textoemail{
        margin-left: 20px;
        margin-top: 150px;
    }
    .usuario{
        margin-left: 20px;
        margin-top: 150px;
    }
    .textousuario{
        margin-left: 20px;
        margin-top: 150px;
    }
    .contraseña{
        margin-left: 20px;
        margin-top: 150px;
    }
    .textocontraseña{
        margin-left: 20px;
        margin-top: 150px;
    }
    .boton{
        margin-left: 20px;
        margin-top: 150px;
    }
    .ventajas{
        margin-top: 650px;
        margin-left: -100px;
    }
    .imgVentajas{
        margin-top: 700px;
        margin-left: -70px;
    }
    .parrafo2{
        margin-top: 730px;
        margin-left: -60px;
    }
    .parrafo3{
        margin-top: 720px;
        margin-left: -60px;
    }
    .parrafo4{
        margin-top: 740px;
        margin-left: -60px;
    }
    .parrafo5{
        margin-top: 755px;
        margin-left: -60px;
    }
    .parrafo6{
        margin-top: 770px;
        margin-left: -60px;
    }
    .sobrenosotros{
        margin-top: 1230px;
        margin-left: -195px;
    }
    .flecha{
        margin-top: 1230px;
        margin-left: -130px;
    }
    .segundalinea{
            margin-top: 1300px;
            margin-left: 0px;
            width: 93.5%;
    }
    .contacte{
        margin-top: 1280px;
        font-size: 16px;
        margin-left: 0px;
    }
    .redessociales{
        margin-top: 1280px;
        margin-left: 220px;
        font-size: 16px;
    }
    .instagram{
        margin-top: 1250px;
        margin-left: 200px;
        width: 35px;
        height: 35px;
    }
    .twitter{
        margin-top: 1250px;
        margin-left: 250px;
        width: 35px;
        height: 35px;
    }
    .tiktok{
        margin-top: 1250px;
        margin-left: 300px;
        width: 35px;
        height: 35px;
    }
    .soporte{
        margin-top: 1270px;
        margin-left: -10px;
        width: 40px;
        height: 40px;
    }
    .correo{
        margin-top: 1265px;
        margin-left: 40px;
        font-size: 13px;
    }
    .numero{
        margin-top: 1248px;
        margin-left: 40px;
        font-size: 13px;
    }
    .chile{
        margin-top: 1260px;
        margin-left: -210px;
        width: 50px;
        height: 50px;
    }
    .rusia{
        margin-top: 1280px;
        margin-left: -210px;
        width: 50px;
        height: 50px;
    }
    .marruecos{
        margin-top: 1290px;
        margin-left: -210px;
        width: 50px;
        height: 50px;
    }
    #probando {
        margin-top: 1275px;
        margin-left: 100px;
        width: 60%;
        font-size: 16px;
    }
}